<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Action for Demo Data Set -->
        <record id="action_demo_data_set" model="ir.actions.act_window">
            <field name="name">Demo Data Sets</field>
            <field name="res_model">hh_data.demo_data_set</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="view_demo_data_form"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    Click here to create new demo data sets.
                </p>
            </field>
        </record>

        <!-- Menu for Demo Data -->
        <menuitem id="menu_demo_data" name="Demo Data" sequence="20" />

        <menuitem id="menu_demo_data_set" name="Demo Data Sets"
            parent="menu_demo_data"
            action="action_demo_data_set"
            sequence="10" />

    </data>
</odoo>